@if (TempData["success"] != null)
{
    <div id="success-alert" class="alert alert-dismissible alert-success">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong></strong>@TempData["success"]
    </div>
}

@* @if (TempData["info"] != null)
{
    <div id="info-alert" class="alert alert-dismissible alert-info">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong></strong>@TempData["info"]
    </div>
} *@

@if (TempData["error"] != null)
{
    <div id="fail-alert" class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong></strong>@TempData["error"]
    </div>
}

<script>
    // Function to hide alerts after 1 second
    function hideAlerts() {
        setTimeout(function() {
            var successAlert = document.getElementById('success-alert');
            var infoAlert = document.getElementById('info-alert');
            var failAlert = document.getElementById('fail-alert');

            if (successAlert) {
                successAlert.style.display = 'none';
            }
            if (infoAlert) {
                infoAlert.style.display = 'none';
            }
            if (failAlert) {
                failAlert.style.display = 'none';
            }
        }, 4000); // 1000 milliseconds = 1 second
    }

    // Run the function on page load
    window.onload = hideAlerts;
</script>
